
<h1 class="center padding2 red"> About Us </h1>
<div class="container">
<div class="row padding">
	
<div class="col-6">
	<span>

		<b class="font"> OUR VISION </b> 
		<div class="height"></div>
		<b class="red"> Our main vision to keep up with the immensely accelerated <br> innovation in automotive technology worldwide by: researching, <br> learning and applying this knowledge to revive the automotive<br> industry in Egypt. </b>

	</span>

</div>

<div class="col-6">
	
<span> 

<b class="font"> OUR MISSION </b>
<div class="height"></div>

<b class="red">- To establish an advanced Egyptian research entity with divisions concerned with Automotive Engineering and Mobile Robotics. <div class="height"></div>
- With 90% of our car MADE IN EGYPT, designed and manufactured by undergraduate engineering students at the ASU Racing Team, we are trying to deliver a message: Egyptian youth has the capabilities and creativity required to lead and innovate! All we need is a little push. (And we may add a foot pressing the gas paddle after this last line. However, you may find it cheesy.) </b>
</span>
	
</div>


</div>

</div>