.height
{

	height:50px;
}

.padding2
{

	padding-top:20px;
}


.padding
{
   padding-left: 30px;
}

.center
{
  text-align: center;
}

 /*img
{
	height:220px;
	width:318px;
	border-radius: 0;
} */

.height2
{
	height: 40px;
}
.red
{
	color: #E03528;
}

div.card
{
	display: inline;
	

}



.liner
{
	display:inline;

}